<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Client - Socket test</title>
    <link rel="stylesheet" media="screen" href="./css/bootstrap_4_5/bootstrap.css">
    <link rel="stylesheet" media="screen" href="./css/bootstrap_4_5/bootstrap-grid.css">
    <link rel="stylesheet" media="screen" href="./css/bootstrap_4_5/bootstrap-reboot.css">
    <link rel="stylesheet" media="screen" href="./css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script type="text/javascript" async="" src="./js/bootstrap_4_5/bootstrap.js"></script>
    <script src="./js/players/hls.js"></script>
    <meta name="theme-color" content="#563d7c">
</head>
<body>
<script>

  // создать подключение
  //var socket = new WebSocket("wss://emoji.tooladigital.ru:8080");
  var socket = new WebSocket('ws://localhost:8080');
  //let i = 0
  // обработчик входящих сообщений
  socket.onmessage = function (event) {
    let dataSystemInfo = JSON.parse(event.data)

    var totalMemory = document.getElementById('totalMemory');
    totalMemory.innerHTML = dataSystemInfo.totalMemory;

    var uptimeServer = document.getElementById('uptimeServer');
    uptimeServer.innerHTML = dataSystemInfo.uptimeServer;

    var div = document.getElementById('messages');
    div.innerHTML = [dataSystemInfo.totalMemory,dataSystemInfo.uptimeServer];
  };
</script>

<main role="main" class="flex-shrink-0">
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="text-muted" href="#"></a>
                </div>
                <!-- <div class="col-4 text-center">
                     <h4>Media controller</h4>
                 </div>-->
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a class="btn btn-sm btn-outline-secondary" href="/sign_out">Sign out</a>
                </div>
            </div>
        </header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Streem monitor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/playlist">Playlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/overlay_cam">Overlay fo camera</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>-->
                </ul>
            </div>
        </nav>

        <div class="row">
            <div class="col-md-8">
                <div class="jumbotron">
                    <video id="video" muted controls width="640px" height="380px"></video>
                    <script>

                      var config = {};
                      var video = document.getElementById('video');
                      if (Hls.isSupported()) {
                        var hls = new Hls(config);
                        hls.loadSource('http://' + location.hostname + '9992' + '/hls/tv.m3u8');
                        hls.attachMedia(video);
                        hls.on(Hls.Events.MANIFEST_PARSED, function () {
                          video.play();
                        });
                      }
                      else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                        video.src = 'http://' + location.hostname + '9992' + '/hls/tv.m3u8';
                        video.addEventListener('loadedmetadata', function () {
                          video.play();
                        });
                      }
                    </script>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <!--<div class="col-md-12">
                        <div class="jumbotron ">

                        </div>
                    </div>-->
                    <div class="col-md-6">
                        <div class="jumbotron text-center">
                            <div class="well">
                                <h1 style="font-size: 18px" id="totalMemory"></h1>
                                <p style="font-size: 12px">Total memory <span id="cpu_used_status"><i
                                                class="glyphicon glyphicon-sort" style="color: #ffa00f;"></i></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="jumbotron text-center">
                            <div class="well">
                                <h1 style="font-size: 18px" id="uptimeServer"></h1>
                                <p style="font-size: 12px">Uptime server<span id="uptimeServer"><i
                                                class="glyphicon glyphicon-sort" style="color: #ffa00f;"></i></span></p>
                            </div>
                        </div>
                    </div>

                    <script>

                      function stop_pl() {
                        // отправляем данные в бэк
                        let xhr = new XMLHttpRequest();
                        xhr.open("POST", '/stop_pl', true);
                        xhr.send('true');
                      }

                      function play_pl() {
                        // отправляем данные в бэк
                        let xhr = new XMLHttpRequest();
                        xhr.open("POST", '/play_pl', true);
                        xhr.send('true');
                      }

                      function cam_play() {
                        // отправляем данные в бэк
                        let xhr = new XMLHttpRequest();
                        xhr.open("POST", '/cam_play', true);
                        xhr.send('true');
                      }
                    </script>

                    <div class="col-md-12">
                        <div class="text-center">
                            <h1 style="font-size: 18px" id="total_viewers1">
                                <div class="btn-group-vertical" role="group" aria-label="Basic example">
                                    <input class="btn btn-outline-secondary" type="button" value="Play saver"
                                           onclick="stop_pl()">
                                    <input class="btn btn-outline-secondary" type="button" value="Run playlist"
                                           onclick="play_pl()">
                                    <input class="btn btn-outline-secondary" type="button" value="Run camera streem"
                                           onclick="cam_play()">
                                </div>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>

    </div>
</main>
<div id="messages"></div>
<%- include("template/footer.ejs") %>
</body>
</html>