<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Client - Socket test</title>
    <link rel="stylesheet" media="screen" href="./css/bootstrap_4_5/bootstrap.css">
    <link rel="stylesheet" media="screen" href="./css/bootstrap_4_5/bootstrap-grid.css">
    <link rel="stylesheet" media="screen" href="./css/bootstrap_4_5/bootstrap-reboot.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script type="text/javascript" async="" src="./js/bootstrap_4_5/bootstrap.js"></script>
</head>
<body>

<div class="container">
    <form action="/post" method="post">
        <p><input type="text" name="str"></p>
        <p><input type="submit" value="Отправить"></p>
    </form>
</div>
<%- include("template/footer.ejs") %>
</body>
</html>