body{
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #c8c8c8;
    background-color: #272b30;
}

.jumbotron{
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: #1c1e22;
    padding: 1rem 1rem;
}


#video {
    /* override other styles to make responsive */
    width: 100%    !important;
    height: auto   !important;
}